.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
}

.detail-table th,
.detail-table td {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: left;
}

.detail-table th {
    width: 50px;
    text-align: left;
}

.text-area {
    text-align: left;
    border: 1px solid #ddd;
}

.text-danger {
    text-align: right;
    color: red;
}