body {
    margin: 0;
    padding: 0;
    background-color: #f2f1f1f0;
    color: #000;
}

.header {
    background-color: #000;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    justify-content: center;
}

.header__inner {
    max-width: none;
    width: 98%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: block;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    white-space: nowrap;
}

.header_nav form {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-link {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}