.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

.nav-link1 {
    color: #000;
}

.success-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}